{
  "tabWidth": 2,
  "useTabs": false,
  "goTemplateBracketSpacing": true,
  "plugins": ["prettier-plugin-go-template"],
  "overrides": [
    {
      "files": ["layouts/**/*.html"],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}
