{{ define "main" }}
  <header>
    {{ if .Params.showBreadcrumbs | default (.Site.Params.list.showBreadcrumbs | default false) }}
      {{ partial "breadcrumbs.html" . }}
    {{ end }}
    <h1 class="dark:text-neutral mt-5 text-4xl font-extrabold text-neutral-900">
      {{ .Title }}
    </h1>
    <div
      class="mt-1 mb-2 text-base text-neutral-500 dark:text-neutral-400 print:hidden"
    >
      {{ partial "article-meta-list.html" (dict "context" . "scope" "single") }}
    </div>
  </header>
  <section class="prose dark:prose-invert mt-0 flex max-w-full flex-col">
    <div class="min-h-0 min-w-0 max-w-prose">{{ .Content | emojify }}</div>
  </section>
  {{ if gt .Pages 0 }}
    <section class="dark:prose-invert mt-4 flex max-w-full flex-col">
      {{ range .Pages }}
        <div class="pb-4">
          {{ partial "project-link.html" . }}
        </div>
      {{ end }}
    </section>
  {{ else }}
    <section class="prose dark:prose-invert mt-10">
      <p class="border-t py-8">
        <em>{{ i18n "list.no_articles" | emojify }}</em>
      </p>
    </section>
  {{ end }}
{{ end }}
