{{ $projectClasses := "flex flex-wrap article" }}
{{ if .Site.Params.list.showCards }}
  {{ $projectClasses = delimit (slice $projectClasses "border border-neutral-200 dark:border-neutral-700 border-2 rounded-md") " " }}
{{ else }}
  {{ $projectClasses = delimit (slice $projectClasses "") " " }}
{{ end }}

{{ $projectImageClasses := "w-full md:w-auto h-full thumbnail nozoom" }}
{{ if .Site.Params.list.showCards }}
  {{ $projectImageClasses = delimit (slice $projectImageClasses "") " " }}
{{ else }}
  {{ $projectImageClasses = delimit (slice $projectImageClasses "thumbnailshadow md:mr-7") " " }}
{{ end }}

{{ $projectInnerClasses := "" }}
{{ if .Site.Params.list.showCards }}
  {{ $projectInnerClasses = delimit (slice $projectInnerClasses "p-4") " " }}
{{ else }}
  {{ $projectInnerClasses = delimit (slice $projectInnerClasses "mt-3 md:mt-0") " " }}
{{ end }}

{{ with .Params.externalUrl }}
  <a
    class="{{ $projectClasses }}"
    href="{{ . }}"
    target="_blank"
    rel="external"
  >
  </a>
{{ else }}
  <a class="{{ $projectClasses }}" href="{{ .RelPermalink }}"> </a>
{{ end }}

{{- with $.Params.images -}}
  {{- range first 6 . }}
    <meta property="og:image" content="{{ . | absURL }}" />
  {{ end -}}
{{- else -}}
  {{- $images := $.Resources.ByType "image" -}}
  {{- $featured := $images.GetMatch "*feature*" -}}
  {{- if not $featured }}
    {{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}
  {{ end -}}
  {{- with $featured -}}
    {{ with .Resize "600x" }}
      <div
        class="{{ $projectImageClasses }}"
        style="background-image:url({{ .RelPermalink }});"
      ></div>
    {{ end }}
  {{- else -}}
    {{- with $.Site.Params.images }}
      <meta property="og:image" content="{{ index . 0 | absURL }}" />
    {{ end -}}
  {{- end -}}
{{- end -}}
<div class="{{ $projectInnerClasses }}">
  <div class="items-center text-xl font-semibold">
    {{ with .Params.externalUrl }}
      <div>
        <div
          class="decoration-primary-500 dark:text-neutral text-xl font-bold text-neutral-800 hover:underline hover:underline-offset-2"
        >
          {{ $.Title | emojify }}
          <span
            class="cursor-default align-top text-xs text-neutral-400 dark:text-neutral-500"
          >
            <span class="rtl:hidden">&#8599;</span>
            <span class="ltr:hidden">&#8598;</span>
          </span>
        </div>
      </div>
    {{ else }}
      <a
        class="decoration-primary-500 dark:text-neutral text-xl font-bold text-neutral-800 hover:underline hover:underline-offset-2"
        href="{{ .RelPermalink }}"
        >{{ .Title | emojify }}</a
      >
    {{ end }}
  </div>
  <div class="mt-1 text-sm text-neutral-500 dark:text-neutral-400">
    {{ .Description }}
  </div>
  <div class="mt-1 text-xl">
    {{ partial "project-links.html" . }}
  </div>
</div>
